<div class="login-container">
  <div class="login-card">
    <h2>Forgot your password?</h2>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="form-group">
        <label>Email</label>
        <div class="input-container">
          <i class="fas fa-envelope icon"></i>
          <%= f.email_field :email, autofocus: true, class: 'input-field' %>
        </div>
      </div>

      <div class="form-actions">
        <%= f.submit "reset password", class: 'login-button' %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>
